accelerate==0.23.0
aiofiles==23.2.1
aiohttp==3.8.5
aiosignal==1.3.1
annotated-types==0.5.0
anyio==3.7.1
async-timeout==4.0.3
asyncer==0.0.2
attrs==23.1.0
backoff==2.2.1
bidict==0.22.1
bitsandbytes==0.41.1
certifi==2023.7.22
chainlit==0.7.1
charset-normalizer==3.3.0
click==8.1.7
colorama==0.4.6
ctransformers==0.2.27
dataclasses-json==0.5.14
Deprecated==1.2.14
exceptiongroup==1.1.3
faiss-cpu==1.7.4
fastapi==0.100.1
fastapi-socketio==0.0.10
filelock==3.12.4
filetype==1.2.0
frozenlist==1.4.0
fsspec==2023.9.2
googleapis-common-protos==1.60.0
greenlet==3.0.0
grpcio==1.59.0
h11==0.14.0
httpcore==0.18.0
httpx==0.25.0
huggingface-hub==0.16.4
idna==3.4
importlib-metadata==6.8.0
Jinja2==3.1.2
joblib==1.3.2
jsonpatch==1.33
jsonpointer==2.4
langchain==0.0.306
langsmith==0.0.41
Lazify==0.4.0
MarkupSafe==2.1.3
marshmallow==3.20.1
mpmath==1.3.0
multidict==6.0.4
mypy-extensions==1.0.0
nest-asyncio==1.5.8
networkx==3.1
nltk==3.8.1
nodeenv==1.8.0
numexpr==2.8.7
numpy==1.26.0
opentelemetry-api==1.20.0
opentelemetry-exporter-otlp==1.20.0
opentelemetry-exporter-otlp-proto-common==1.20.0
opentelemetry-exporter-otlp-proto-grpc==1.20.0
opentelemetry-exporter-otlp-proto-http==1.20.0
opentelemetry-instrumentation==0.40b0
opentelemetry-proto==1.20.0
opentelemetry-sdk==1.20.0
opentelemetry-semantic-conventions==0.41b0
packaging==23.2
Pillow==10.0.1
prisma==0.10.0
protobuf==4.24.3
psutil==5.9.5
py-cpuinfo==9.0.0
pydantic==2.4.2
pydantic_core==2.10.1
PyJWT==2.8.0
pypdf==3.16.2
python-dotenv==1.0.0
python-engineio==4.7.1
python-graphql-client==0.4.3
python-multipart==0.0.6
python-socketio==5.9.0
PyYAML==6.0.1
regex==2023.10.3
requests==2.31.0
safetensors==0.3.3
scikit-learn==1.3.1
scipy==1.11.3
sentence-transformers==2.2.2
sentencepiece==0.1.99
simple-websocket==0.10.1
sniffio==1.3.0
SQLAlchemy==2.0.21
starlette==0.27.0
sympy==1.12
syncer==2.0.3
tenacity==8.2.3
threadpoolctl==3.2.0
tokenizers==0.14.0
tomli==2.0.1
tomlkit==0.12.1
torch==2.0.1
torchvision==0.15.2
tqdm==4.66.1
transformers==4.34.0
typing-inspect==0.9.0
typing_extensions==4.8.0
uptrace==1.20.0
urllib3==2.0.6
uvicorn==0.23.2
watchfiles==0.20.0
websockets==11.0.3
wrapt==1.15.0
wsproto==1.2.0
yarl==1.9.2
zipp==3.17.0
